Repository polyms/vite-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix --allow-empty-input

Fix
  .eslintignore
  .eslintrc.yml
  .prettierignore
  .prettierrc.yml
  .vscode/settings.json
  .yarnrc.yml
  README.md
  index.html
  jest.config.ts
  package.json
  public/favicon/favicon.png
  public/favicon/favicon.svg
  public/imgs/react.svg
  public/imgs/vite.svg
  public/manifest.webmanifest
  src/App.css
  src/App.spec.tsx
  src/App.tsx
  src/components/core/ErrorBoundary.spec.tsx
  src/components/core/ErrorBoundary.tsx
  src/index.css
  src/main.tsx
  src/styles/_animation.scss
  src/styles/_scrollbar.scss
  src/styles/bs/_variables.scss
  src/styles/bs/bootstrap.scss
  src/styles/globals.scss
  src/tests/file.transformer.js
  src/tests/svg.transformer.js
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix --allow-empty-input

Fix
  .eslintrc.yml
  .yarnrc.yml
  README.md
  jest.config.ts
  package.json
  src/components/core/ErrorBoundary.test.tsx
  src/hooks/useCounter.test.ts
  src/hooks/useCounter.ts
  src/main.tsx
  src/pages/App/App.css
  src/pages/App/App.test.tsx
  src/pages/App/App.tsx
  src/pages/App/index.ts
  src/tests/file.transformer.js
  src/tests/setup.ts
  src/tests/svg.transformer.js
  src/utils/test.utils.tsx
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --ignore-unknown --write

Add stylelint
  .stylelintignore
  .stylelintrc.yml
  .vscode/settings.json
  .yarnrc.yml
  package.json
  src/components/core/ErrorBoundary.test.tsx
  src/pages/App/App.test.tsx
  src/styles/_animation.scss
  src/styles/_scrollbar.scss
  src/styles/globals.scss
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

Fix runtime
  .eslintrc.yml
  src/components/core/ErrorBoundary.test.tsx
  src/components/core/ErrorBoundary.tsx
  src/components/core/index.ts
  src/components/layouts/PageLoader.tsx
  src/components/layouts/favicon.svg
  src/components/layouts/index.tsx
  src/main.tsx
  src/pages/App/App.css
  src/pages/App/App.page.tsx
  src/pages/App/App.scss
  src/pages/App/App.test.tsx
  src/pages/App/index.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix --allow-empty-input

Fix testing
  package.json
  src/components/core/__tests__/ErrorBoundary.test.tsx
  src/hooks/__tests__/useCounter.test.ts
  src/pages/App/App.page.tsx
  src/pages/App/App.test.tsx
  src/stores/__tests__/counter.tests.ts
  src/stores/counter.store.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add coverage page
  .eslintrc.yml
  package.json
  src/main.tsx
  src/pages/code-coverage/Coverage.page.tsx
  src/pages/code-coverage/coverage.d.ts
  src/pages/code-coverage/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

Temp fix
  src/pages/code-coverage/Coverage.page.tsx
  src/tests/setup.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Fix build
  src/components/layouts/PageLoader.tsx
  src/main.tsx
  src/pages/code-coverage/Coverage.page.tsx
  src/tests/setup.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Fix build
  src/components/layouts/PageLoader.tsx
  src/main.tsx
  src/tests/setup.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Fix serve heroku
  static.json
Due: none

Fix heroku
  Procfile
  config/nginx.conf.erb
  static.json
Due: none

Fix config
  vite.config.ts
Due: eslint --fix, prettier --write

Convert to electron
  .eslintrc.yml
  .vscode/settings.json
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  electron-builder.env
  electron-builder.yml
  package.json
  src/electron/builder.ts
  src/electron/main.ts
  src/electron/preload.ts
  src/main.tsx
  src/pages/App/App.page.tsx
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Init title bar
  .eslintrc.yml
  src/electron/ipcSetups.ts
  src/electron/main.ts
  src/electron/preload.ts
  src/main.tsx
  src/pages/apps/App.page.tsx
  src/pages/apps/App.scss
  src/pages/apps/App.test.tsx
  src/pages/apps/index.ts
  src/pages/layouts/TitleBar.tsx
  src/pages/layouts/index.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

Setup frameless window
  .eslintrc.yml
  .vscode/settings.json
  src/electron/ipcSetups.ts
  src/electron/main.ts
  src/pages/layouts/TitleBar.tsx
  src/styles/globals.scss
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

rm builder.env
  .gitignore
  electron-builder.env
Due: none

Clean code
  .yarnrc.yml
  package.json
  src/electron/main.ts
  src/electron/preload.ts
  src/pages/layouts/TitleBar.tsx
Due: eslint --fix, prettier --write

Refactor
  .eslintrc.yml
  src/electron/ipcSetups.ts
  src/electron/preload.ts
  src/main.tsx
  src/pages/app/App.page.tsx
  src/pages/app/App.scss
  src/pages/app/App.test.tsx
  src/pages/apps/index.ts
  src/pages/code-coverage/Coverage.page.tsx
  src/pages/code-coverage/index.ts
  src/pages/layouts/TitleBar.tsx
  src/stores/app.store.ts
  src/styles/_scrollbar.scss
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

Fix title
  src/electron/ipcSetups.ts
  src/pages/layouts/TitleBar.tsx
Due: eslint --fix, prettier --write

Fix build on MacOS
  electron-builder.yml
  index.html
  public/favicon/favicon.png
  src/electron/ipcSetups.ts
  src/electron/main.ts
  src/electron/preload.ts
  src/pages/app/App.test.tsx
  src/pages/layouts/TitleBar.tsx
  src/root.tsx
  src/stores/app.store.ts
  src/styles/_reboot.scss
  src/styles/globals.scss
Due: eslint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix --allow-empty-input

Cleanup
  package.json
  src/root.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Upgrade
  .gitignore
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  src/components/core/ErrorBoundary.tsx
  src/main.tsx
  src/styles/_root.scss
  src/styles/globals.scss
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

Upgrade
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  src/pages/App/App.page.tsx
  src/stores/counter.store.ts
  src/styles/bs/_variables.scss
  src/styles/bs/bootstrap.scss
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

upgrade
  .eslintrc.yml
  .yarnrc.yml
  package.json
  public/manifest.webmanifest
  src/components/core/__tests__/ErrorBoundary.test.tsx
  src/hooks/__tests__/useCounter.test.ts
  src/pages/App/App.test.tsx
  src/stores/__tests__/counter.tests.ts
  src/utils/test.utils.tsx
  yarn.lock
Due: eslint --fix, prettier --write

cleanup
  .eslintrc.yml
  .yarnrc.yml
  README.md
  public/manifest.webmanifest
  src/components/core/__tests__/ErrorBoundary.test.tsx
  src/electron/main.ts
  src/hooks/__tests__/useCounter.test.ts
  src/pages/app/App.test.tsx
  src/stores/__tests__/counter.tests.ts
  src/tests/setup.ts
  src/utils/test.utils.tsx
  src/vite-env.d.ts
Due: eslint --fix, prettier --write, prettier --ignore-unknown --write

upgrade
  electron-builder.yml
  package.json
  src/components/core/ErrorBoundary.tsx
  src/electron/preload.ts
  src/pages/layouts/TitleBar.tsx
  src/root.tsx
  src/stores/app.store.ts
  src/stores/counter.store.ts
  src/styles/globals.scss
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix --allow-empty-input

Initial commit
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  README.md
  apps/nx-vite/.eslintrc.json
  apps/nx-vite/index.html
  apps/nx-vite/project.json
  apps/nx-vite/public/favicon.ico
  apps/nx-vite/src/app/app.module.scss
  apps/nx-vite/src/app/app.spec.tsx
  apps/nx-vite/src/app/app.tsx
  apps/nx-vite/src/app/nx-welcome.tsx
  apps/nx-vite/src/assets/.gitkeep
  apps/nx-vite/src/main.tsx
  apps/nx-vite/src/styles.scss
  apps/nx-vite/tsconfig.app.json
  apps/nx-vite/tsconfig.json
  apps/nx-vite/tsconfig.spec.json
  apps/nx-vite/vite.config.ts
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix --allow-empty-input

convert to yarn 2
  .gitignore
  .vscode/settings.json
  .yarnrc.yml
  apps/nx-vite/tsconfig.spec.json
  apps/nx-vite/vite.config.mts
  package-lock.json
  package.json
  yarn.lock
Due: none

ignore .env local
  .gitignore
Due: none

rename main project
  apps/main/.eslintrc.json
  apps/main/index.html
  apps/main/project.json
  apps/main/public/favicon.ico
  apps/main/public/favicon/favicon.png
  apps/main/public/favicon/favicon.svg
  apps/main/public/imgs/react.svg
  apps/main/public/imgs/vite.svg
  apps/main/public/manifest.webmanifest
  apps/main/src/app/app.module.scss
  apps/main/src/app/app.spec.tsx
  apps/main/src/app/app.tsx
  apps/main/src/app/nx-welcome.tsx
  apps/main/src/assets/.gitkeep
  apps/main/src/main.tsx
  apps/main/src/styles.scss
  apps/main/tsconfig.app.json
  apps/main/tsconfig.json
  apps/main/tsconfig.spec.json
  apps/main/vite.config.mts
  apps/nx-vite/public/favicon.ico
Due: eslint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix --allow-empty-input

first run
  README.md
  apps/main/index.html
  apps/main/src/app.tsx
  apps/main/src/app/app.module.scss
  apps/main/src/app/app.spec.tsx
  apps/main/src/app/app.tsx
  apps/main/src/app/nx-welcome.tsx
  apps/main/src/main.tsx
  apps/main/src/pages.gen.ts
  apps/main/src/pages/__root.tsx
  apps/main/src/pages/index.lazy.tsx
  apps/main/src/vite-env.d.ts
  apps/main/vite.config.mts
  libs/shared/.babelrc
  libs/shared/.eslintrc.json
  libs/shared/README.md
  libs/shared/project.json
  libs/shared/src/index.ts
  libs/shared/src/lib/shared.module.scss
  libs/shared/src/lib/shared.spec.tsx
  libs/shared/src/lib/shared.tsx
  libs/shared/src/styles/_animation.scss
  libs/shared/src/styles/_root.scss
  libs/shared/src/styles/_scrollbar.scss
  libs/shared/src/styles/bs/_variables.scss
  libs/shared/src/styles/bs/bootstrap.scss
  libs/shared/src/styles/globals.scss
  libs/shared/tsconfig.json
  libs/shared/tsconfig.lib.json
  libs/shared/tsconfig.spec.json
  libs/shared/vite.config.ts
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix --allow-empty-input

setup lintstaged
  .husky/pre-commit
  .lintstagedrc.yml
  .prettierrc
  .prettierrc.yml
  apps/main/src/app.tsx
  apps/main/src/pages/__root.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

add prettierignore
  .prettierignore
Due: none

add stylelint
  .stylelintignore
  .stylelintrc.yml
  package.json
  yarn.lock
Due: none

add homepage
  .yarnrc.yml
  apps/main/index.html
  apps/main/src/pages/home/-home.page.tsx
  apps/main/src/pages/home/home.module.scss
  apps/main/src/pages/index.lazy.tsx
  apps/main/src/stores/counter.store.ts
  apps/main/tsconfig.app.json
  yarn.lock
Due: eslint --fix, prettier --write, prettier --ignore-unknown --write, stylelint --fix --allow-empty-input

add dockerfile
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

add i18next
  .prettierrc.yml
  .yarnrc.yml
  apps/main/src/app.tsx
  apps/main/src/locales/en/common.yml
  apps/main/src/locales/i18n.backend.ts
  apps/main/src/locales/i18n.config.ts
  apps/main/src/locales/index.ts
  apps/main/src/locales/loadAsyncLanguage.ts
  apps/main/src/locales/vi/common.yml
  apps/main/src/pages/home/-home.page.tsx
  apps/main/tsconfig.app.json
  apps/main/vite.config.mts
  package.json
  types.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.scss)
  prettier --ignore-unknown --write: any of: *.{md,html,css}
  stylelint --fix --allow-empty-input: any of: *.scss
